<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-md-12">
      <h3>New Customer<a class="float-right btn btn-info btn-sm" routerLink="/customer/customer-list">+ Back to List</a></h3>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

      <form [formGroup]="customerForm" autocomplete="off" (ngSubmit)="saveCustomer()" class="row from_font">

        <div class="col-md-4 form-group">
          <label for="Name">Name</label>
          <input type="text"
                 class="form-control form-control-md"
                 name="Name"
                 formControlName="Name"
                 id="Name"
                 placeholder="Name..."
                 required>
        </div>

        <div class="col-md-4 form-group">
          <label for="Address">Address</label>
          <input type="text"
                 class="form-control form-control-md"
                 name="Address"
                 formControlName="Address"
                 id="Address"
                 placeholder="Address..."
                 required>
        </div>

        <div class="col-md-4 form-group">
          <label for="Email">Email</label>
          <input type="text"
                 class="form-control form-control-md"
                 name="Email"
                 formControlName="Email"
                 id="Email"
                 placeholder="Email..."
                 required>
        </div>

        <div class="col-md-4 form-group">
          <label for="Phone">Phone</label>
          <input type="text"
                 class="form-control form-control-md"
                 name="Phone"
                 formControlName="Phone"
                 id="Phone"
                 placeholder="Phone..."
                 required>
        </div>

        <div class="col-md-4 form-group">
          <label for="IsActive">IsActive</label>
          <select name="IsActive" id="IsActive"
            class="form-control form-control-md"
            formControlName="IsActive"
            required>
              <option [ngValue]="true">IsActive</option>
              <option [ngValue]="false">InActive</option>
          </select>
        </div>

        <div class="col-md-12 form-group">
          <div class="float-right">
            <input class="btn btn-sm btn-md btn-info mr-1" type="submit" name="submit" value="Save Customer"/>
            <input class="btn btn-sm btn-md btn-danger" type="submit" name="name" value="Cancel"
                   routerLink="/customer/customer-list"/>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>
