<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-md-12">
      <h3>Customer List <a class="float-right btn btn-info btn-sm" routerLink="/customer/add-customer">+ New
        Customer</a></h3>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <table class="table table-bordered bg-white">
        <thead>
        <tr>
          <th>Sl No.</th>
          <th>Customer Name</th>
          <th>Address</th>
          <th>Email</th>
          <th>Phone No</th>
          <th>Is Acive</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item, let i= index of customers">
          <td>{{i + 1}}</td>
          <td>{{item.Name}}</td>
          <td>{{item.Address}}</td>
          <td>{{item.Email}}</td>
          <td>{{item.Phone}}</td>
          <td>{{item.IsActive == true ? 'Active' : 'Inactive'}}</td>
          <td class="text-right">
            <div class="btn-group">
              <button routerLink="/customer/add-customer/{{item.CustomerId}}" class="btn-primary btn btn-xs"><i
                class="fa fa-pencil"></i> Edit
              </button>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
