<div id="wrapper">
  <!--left nav-->
  <nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
      <ul class="nav metismenu" id="side-menu">
        <li class="nav-header">
          <div class="dropdown profile-element">
            <img alt="image" class="rounded-circle" src="/assets/img/profile_small.jpg"/>
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
              <span class="block m-t-xs font-bold">Sumon Khalifa</span>
            </a>
          </div>
          <div class="logo-element">
            IN+
          </div>
        </li>
        <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <a routerLink="/">
            <i class="fa fa-diamond"></i>
            <span class="nav-label">Dashboard</span>
          </a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/quotation/quotation-list">
            <i class="fa fa-diamond"></i>
            <span class="nav-label">Quotation</span>
          </a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/payment/payment-list">
            <i class="fa fa-diamond"></i>
            <span class="nav-label">Payment</span>
          </a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/customer/customer-list">
            <i class="fa fa-diamond"></i>
            <span class="nav-label">Customer</span>
          </a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/accessory/accessory-list">
            <i class="fa fa-diamond"></i>
            <span class="nav-label">Accessory</span>
          </a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/brand/brand-list">
            <i class="fa fa-diamond"></i>
            <span class="nav-label">Brand</span>
          </a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/color/color-list">
            <i class="fa fa-diamond"></i>
            <span class="nav-label">Color</span>
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <!--end left nav-->

  <div id="page-wrapper" class="gray-bg">

    <!--top nav-->
    <div class="row border-bottom">
      <nav class="navbar navbar-static-top bg-white" role="navigation">
        <div class="navbar-header">
          <a class="navbar-minimalize minimalize-styl-2 btn btn-primary" href="#"><i class="fa fa-bars"></i> </a>
        </div>
        <ul class="nav navbar-top-links navbar-right">
          <li class="dropdown">
            <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
              <i class="fa fa-envelope"></i> <span class="label label-warning">16</span>
            </a>
            <ul class="dropdown-menu dropdown-messages">
              <li>
                <div class="dropdown-messages-box">
                  <a class="dropdown-item float-left" href="#">
                    <img alt="image" class="rounded-circle" src="/assets/img/a7.jpg">
                  </a>
                  <div class="media-body">
                    <small class="float-right">46h ago</small>
                    <strong>Mike Loreipsum</strong> started following <strong>Monica Smith</strong>. <br>
                    <small class="text-muted">3 days ago at 7:58 pm - 10.06.2014</small>
                  </div>
                </div>
              </li>
              <li class="dropdown-divider"></li>
              <li>
                <div class="dropdown-messages-box">
                  <a class="dropdown-item float-left" href="#">
                    <img alt="image" class="rounded-circle" src="/assets/img/a4.jpg">
                  </a>
                  <div class="media-body ">
                    <small class="float-right text-navy">5h ago</small>
                    <strong>Chris Johnatan Overtunk</strong> started following <strong>Monica Smith</strong>. <br>
                    <small class="text-muted">Yesterday 1:21 pm - 11.06.2014</small>
                  </div>
                </div>
              </li>
              <li class="dropdown-divider"></li>
              <li>
                <div class="dropdown-messages-box">
                  <a class="dropdown-item float-left" href="#">
                    <img alt="image" class="rounded-circle" src="/assets/img/profile.jpg">
                  </a>
                  <div class="media-body ">
                    <small class="float-right">23h ago</small>
                    <strong>Monica Smith</strong> love <strong>Kim Smith</strong>. <br>
                    <small class="text-muted">2 days ago at 2:30 am - 11.06.2014</small>
                  </div>
                </div>
              </li>
              <li class="dropdown-divider"></li>
              <li>
                <div class="text-center link-block">
                  <a href="#" class="dropdown-item">
                    <i class="fa fa-envelope"></i> <strong>Read All Messages</strong>
                  </a>
                </div>
              </li>
            </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
              <i class="fa fa-bell"></i> <span class="label label-primary">8</span>
            </a>
            <ul class="dropdown-menu dropdown-alerts">
              <li>
                <a href="#">
                  <div>
                    <i class="fa fa-envelope fa-fw"></i> You have 16 messages
                    <span class="float-right text-muted small">4 minutes ago</span>
                  </div>
                </a>
              </li>
              <li class="dropdown-divider"></li>
              <li>
                <a href="#">
                  <div>
                    <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                    <span class="float-right text-muted small">12 minutes ago</span>
                  </div>
                </a>
              </li>
              <li class="dropdown-divider"></li>
              <li>
                <a href="#">
                  <div>
                    <i class="fa fa-upload fa-fw"></i> Server Rebooted
                    <span class="float-right text-muted small">4 minutes ago</span>
                  </div>
                </a>
              </li>
              <li class="dropdown-divider"></li>
              <li>
                <div class="text-center link-block">
                  <a href="#">
                    <strong>See All Alerts</strong>
                    <i class="fa fa-angle-right"></i>
                  </a>
                </div>
              </li>
            </ul>
          </li>
          <li>
            <a routerLink="/login">
              <i class="fa fa-sign-out"></i> Log out
            </a>
          </li>
        </ul>

      </nav>
    </div>
    <!--end top nav-->

    <router-outlet></router-outlet>

    <!--footer-->
    <div class="footer">
      <div>
        <strong>Copyright</strong> Sumon Khalifa &copy; 2020
      </div>
    </div>
    <!--end footer-->

  </div>
</div>
