<div class="wrapper wrapper-content animated fadeInRight" id="printDisable">
  <div class="row">
    <div class="col-md-12">
      <h3>New Payment<a class="float-right btn btn-info btn-sm" routerLink="/payment/payment-list">+ Back to List</a>
      </h3>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

      <form [formGroup]="paymentForm" autocomplete="off" (ngSubmit)="savePayment()" class="row from_font">
        <div class="col-md-4 form-group">
          <label for="PaidAmount">Paid Amount</label>
          <input type="number"
                 class="form-control form-control-md"
                 name="PaidAmount"
                 formControlName="PaidAmount"
                 id="PaidAmount"
                 placeholder="PaidAmount..."
                 required>
        </div>
        <div class="col-md-12 form-group">
          <div class="float-right">
            <input class="btn btn-sm btn-md btn-info mr-1" type="submit" name="submit" value="Save Payment"/>
          
            <input class="btn btn-sm btn-md btn-danger" type="submit" name="name" value="Cancel"
                   routerLink="/quotation/quotation-list"/>
          </div>

        </div>

      </form>
    </div>
  </div>
</div>
