<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-md-12">
      <h3>Payment List
        </h3>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <table class="table table-bordered bg-white">
        <thead>
        <tr>
          <th>Sl No</th>
          <th>Ammount</th>
          <th>Customer</th>
          <th>Payment Date</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of quotations, let i=index">
          <td>{{i+1}}</td>
          <td>{{item.PaidAmount}}</td>
          <td>{{item.CustomerName}}</td>
          <td>{{item.QuotationDate | date}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
