<div class="print_body">
  <div class="header">
    <div class="col-75 company_address">
      <img src="assets/img/profile_small.jpg" alt="" class="mr-3"/>
      <h1>JH Car center</h1>
      <p>All kinds of motor car purchaser & seller</p>
      <p>Addresss : eO/5, l(6karal! (Ground Floor)
        Dhaka-1OOO</p>
      <p>Phone : 933547t
        Moblle : O1711-351129, OLTLL-63a3O1</p>
    </div>
    <div class="col-25">
      <h1>Quotation</h1>
    </div>
  </div>
  <div class="billing_address">
    <div class="container">
      <p>To : {{quotation.CustomerName}}</p>
      <p>Date : {{quotation.CreatedDtTm | date}}</p>
    </div>
  </div>
  <h3>A/C :</h3>
  <p>Dear Sir,</p>
  <p> We have great pleasure to offer our best price as follow in response to your valued query</p>
  <div class="body">
    <table>
      <tr>
        <td width="50">SL No.</td>
        <td>Description of Vehicle</td>
        <td width="100">Price Per unit</td>
      </tr>
      <tr>
        <td>1.</td>
        <td>Vehicle Name : {{quotation.VehicleName}}</td>
        <td>{{quotation.Price || 0}}</td>
      </tr>
      <tr>
        <td>2.</td>
        <td>Model Name : {{quotation.ModelName}}</td>
        <td></td>
      </tr>
      <tr>
        <td>3.</td>
        <td>Chassis No : {{quotation.ChassisNo}}</td>
        <td></td>
      <tr>
        <td>4.</td>
        <td>Engine No : {{quotation.EngineNo}}</td>
        <td></td>
      </tr>
      <tr>
        <td>5.</td>
        <td>Man. of Year : {{quotation.ManOfYear | date}}</td>
        <td></td>
      </tr>
      <tr>
        <td>6.</td>
        <td>Engine Size : {{quotation.EngineSize}}</td>
        <td></td>
      </tr>
      <tr>
        <td>7.</td>
        <td>Brand Name : {{quotation.BrandName}}</td>
        <td></td>
      </tr>
      <tr>
        <td>8.</td>
        <td>Color Name : {{quotation.ColorName}}</td>
        <td></td>
      </tr>
      <tr>
        <td>9.</td>
        <td>Seating Capacity: {{quotation.SeatingCapacity}}</td>
        <td></td>
      </tr>
      <tr>
        <td>10.</td>
        <td>Front Brake: {{quotation.FrontBrake}}</td>
        <td></td>
      </tr>
      <tr>
        <td>11.</td>
        <td>Rear Brake: {{quotation.RearBrake}}</td>
        <td></td>
      </tr>
      <tr>
        <td>12.</td>
        <td>Rear Type: {{quotation.GearType}}</td>
        <td></td>
      </tr>
      <tr>
        <td>13.</td>
        <td>Accessories : <span *ngFor="let qt of quotation.Items">{{qt.Name}}({{qt.Price}} Tk)</span></td>
        <td>{{quotation.AccessoryPrice || 0}}</td>
      </tr>
      <tr>
        <td colspan="2">Total ({{quotation.Price}} + {{quotation.AccessoryPrice}})</td>
        <td>{{(quotation.Price + quotation.AccessoryPrice) || 0}}</td>
      </tr>
    </table>
  </div>
  <div class="body">
    <table>
      <tr>
        <td colspan="3">Terms and Conditions</td>
      </tr>
      <tr>
        <td>Payment</td>
        <td>100% Payment to be made in cash/Check/Pay Order/D.D. in favour of
          our account at'the time of delivery
        </td>
      </tr>
      <tr>
        <td>Warranty</td>
        <td>We.shall provide one year after sales service without apare parts</td>
      </tr>
      <tr>
        <td>Delivery</td>
        <td>Within--.--days from the date of your final confirmation.</td>
      </tr>
      <tr>
        <td>Validity</td>
        <td>our offer shall remain valid upto-----days fro your acceptance from the
          date of this offer.
        </td>
      </tr>
    </table>
  </div>
  <div class="authorized">
    <div class="col-25">
      <p>Receiver Signature</p>
    </div>
  </div>
</div>

<!--Challan Print-->
<div class="print_body" *ngIf="quotation.IsSold">
  <div class="header company_address text-center">
    <img src="assets/img/profile_small.jpg" alt="" class="mr-3"/>
    <h1>JH Car center</h1>
    <p>All kinds of motor car purchaser & seller</p>
    <p>Addresss : eO/5, l(6karal! (Ground Floor)
      Dhaka-1OOO</p>
    <p>Phone : 933547t
      Moblle : O1711-351129, OLTLL-63a3O1</p>
    <h2>Challan</h2>
  </div>
  <div class="body">
    <table>
      <tr>
        <td>Challan No</td>
        <td>{{quotation.QuotationId}}</td>
        <td>Date</td>
        <td>{{quotation.QuotationDate | date}}</td>
      </tr>
    </table>
  </div>
  <div class="body">
    <table>
      <tr>
        <td>Name</td>
        <td>{{quotation.CustomerName}}</td>
        <td>Address</td>
        <td>{{quotation.Address}}</td>
      </tr>
    </table>
  </div>
  <div class="body">
    <table>
      <tr>
        <td>SL</td>
        <td>Description</td>
        <td>Quantity</td>
        <td>Remarks</td>
      </tr>
      <tr>
        <td>1</td>
        <td>
          1. {{quotation.VehicleName}} <br>
        </td>
        <td>1</td>
        <td>N/A</td>
      </tr>
      <tr>
        <td colspan="4">Any Claim against shortage or damage must be notified in written within 3 (Three) days of
          receipt of goods,
          otherwise it will be assured that goods have been received in order and actuty / anterily as per this challan.
        </td>
      </tr>
    </table>
  </div>
  <div class="authorized">
    <div class="col-50">
      <p>Receiver Signature</p>
    </div>
    <div class="col-50">
      <p>Authorized Signature</p>
    </div>
  </div>
</div>


<div class="print_body" *ngIf="quotation.PaidAmount > 0">
  <div class="col-50">
    <div class="company_address text-center">
      <img src="assets/img/profile_small.jpg" alt=""/>
      <h1>JH Car Ceneter</h1>
      <p>AII Kinds cf Motor Car Purchaser & SetrEer</p>
      <p>80/5, Kakrail (Ground Fl.) Dhaka-1000. Phone: 9335471</p>
      <h2>Money Receipt</h2>
    </div>
    <div class="body">
      <table>
        <tr>
          <td>SL No</td>
          <td>{{quotation.QuotationId}}</td>
          <td>Date</td>
          <td>{{quotation.QuotationDate | date}}</td>
        </tr>
      </table>
    </div>
    <div class="body">
      <table>
        <tr>
          <td>Received with thanks from</td>
          <td>{{quotation.CustomerName}}</td>
        </tr>
        <tr>
          <td>The sum of taka</td>
          <td>{{quotation.PaidAmount}}</td>
        </tr>
        <tr>
          <td>as adv./part/full payment against Bill N</td>
          <td>{{quotation.QuotationId}}</td>
        </tr>
        <tr>
          <td>Cash I Cheque No. & Bank</td>
          <td>{{quotation.PaidAmount}}</td>
        </tr>
        <tr>
          <td>Date</td>
          <td>{{quotation.QuotationDate | date}}</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="col-50">
    <div class="company_address text-center">
      <img src="assets/img/profile_small.jpg" alt=""/>
      <h1>JH Car Ceneter</h1>
      <p>AII Kinds cf Motor Car Purchaser & SetrEer</p>
      <p>80/5, Kakrail (Ground Fl.) Dhaka-1000. Phone: 9335471</p>
      <h2>Money Receipt</h2>
    </div>
    <div class="body">
      <table>
        <tr>
          <td>SL No</td>
          <td>{{quotation.QuotationId}}</td>
          <td>Date</td>
          <td>{{quotation.QuotationDate |date}}</td>
        </tr>
      </table>
    </div>
    <div class="body">
      <table>
        <tr>
          <td>Received with thanks from</td>
          <td>{{quotation.CustomerName}}</td>
        </tr>
        <tr>
          <td>The sum of taka</td>
          <td>{{quotation.PaidAmount}}</td>
        </tr>
        <tr>
          <td>as adv./part/full payment against Bill N</td>
          <td>{{quotation.QuotationId}}</td>
        </tr>
        <tr>
          <td>Cash I Cheque No. & Bank</td>
          <td>{{quotation.PaidAmount}}</td>
        </tr>
        <tr>
          <td>Date</td>
          <td>{{quotation.QuotationDate | date}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
