<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-md-12">
      <h3>New Quotation<a class="float-right btn btn-info btn-sm" routerLink="/quotation/quotation-list">+ Back to
        List</a></h3>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

      <form [formGroup]="quotationForm" autocomplete="off" (ngSubmit)="saveQuotation()" class="row from_font">

        <div class="col-md-3 form-group">
          <label for="QuotationDate">Quotation Date</label>
          <input type="date"
                 class="form-control form-control-md"
                 name="QuotationDate"
                 formControlName="QuotationDate"
                 id="QuotationDate"
                 required>
        </div>

        <div class="col-md-3 form-group">
          <label for="CustomerId">Customer</label>
          <select name="CustomerId" id="CustomerId"
                  class="form-control form-control-md"
                  formControlName="CustomerId"
                  required>
            <option *ngFor="let customer of customers" [ngValue]="customer.CustomerId">{{customer.Name}}</option>
          </select>
        </div>

        <div class="col-md-3 form-group">
          <label for="Address">Address</label>
          <input type="text"
                 class="form-control form-control-md"
                 name="Address"
                 id="Address"
                 readonly
                 placeholder="Address..."
                 required>
        </div>

        <div class="col-md-3 form-group">
          <label for="Phone">Phone</label>
          <input type="text"
                 class="form-control form-control-md"
                 name="Phone"
                 id="Phone"
                 readonly
                 placeholder="Phone..."
                 required>
        </div>
        <div class="col-md-12">
          <h4 class="mt-4">Quotation Item :</h4>
          <hr>
        </div>

        <div class="col-md-3 form-group">
          <label for="VehicleName">Vehicle Name</label>
          <input type="text"
                 class="form-control form-control-md"
                 name="VehicleName"
                 formControlName="VehicleName"
                 id="VehicleName"
                 placeholder="Vehicle Name..."
                 required>
        </div>

        <div class="col-md-3 form-group">
          <label for="ModelName">Model Name</label>
          <input type="text"
                 class="form-control form-control-md"
                 name="ModelName"
                 formControlName="ModelName"
                 id="ModelName"
                 placeholder="Model Name..."
                 required>
        </div>

        <div class="col-md-3 form-group">
          <label for="ChassisNo">Chassis No</label>
          <input type="text"
                 class="form-control form-control-md"
                 name="ChassisNo"
                 formControlName="ChassisNo"
                 id="ChassisNo"
                 placeholder="Chassis No..."
                 required>
        </div>

        <div class="col-md-3 form-group">
          <label for="EngineNo">Engine No</label>
          <input type="text"
                 class="form-control form-control-md"
                 name="EngineNo"
                 formControlName="EngineNo"
                 id="EngineNo"
                 placeholder="Engine No..."
                 required>
        </div>

        <div class="col-md-3 form-group">
          <label for="ManOfYear">Man of Year</label>
          <input type="date"
                 class="form-control form-control-md"
                 name="ManOfYear"
                 formControlName="ManOfYear"
                 id="ManOfYear"
                 placeholder="Man Of Year..."
                 required>
        </div>

        <div class="col-md-3 form-group">
          <label for="EngineSize">Engine Size</label>
          <input type="text"
                 class="form-control form-control-md"
                 name="EngineSize"
                 formControlName="EngineSize"
                 id="EngineSize"
                 placeholder="Engine Size..."
                 required>
        </div>


        <div class="col-md-3 form-group">
          <label for="ColorId">Color</label>
          <select name="ColorId" id="ColorId"
                  class="form-control form-control-md"
                  formControlName="ColorId"
                  required>
            <option *ngFor="let color of colors" [ngValue]="color.ColorId">{{color.Name}}</option>
          </select>
        </div>

        <div class="col-md-3 form-group">
          <label for="BrandId">Brand</label>
          <select name="BrandId" id="BrandId"
                  class="form-control form-control-md"
                  formControlName="BrandId"
                  required>
            <option *ngFor="let brand of brands" [ngValue]="brand.BrandId">{{brand.Name}}</option>
          </select>
        </div>

        <div class="col-md-3 form-group">
          <label for="SeatingCapacity">Seating Capacity</label>
          <input type="text"
                 class="form-control form-control-md"
                 name="SeatingCapacity"
                 formControlName="SeatingCapacity"
                 id="SeatingCapacity"
                 placeholder="Seating Capacity..."
                 required>
        </div>

        <div class="col-md-3 form-group">
          <label for="FuelType">Fuel Type</label>
          <select name="FuelType" id="FuelType"
                  class="form-control form-control-md"
                  formControlName="FuelType"
                  required>
            <option value="Gasoline">Gasoline</option>
            <option value="Petrol">Petrol</option>
            <option value="Diesel">Diesel</option>
            <option value="CNG">CNG</option>
          </select>
        </div>

        <div class="col-md-3 form-group">
          <label for="FuelCapacity">Fuel Capacity (Ltr)</label>
          <input type="number"
                 class="form-control form-control-md"
                 name="FuelCapacity"
                 formControlName="FuelCapacity"
                 id="FuelCapacity"
                 placeholder="FuelCapacity..."
                 required>
        </div>

        <div class="col-md-3 form-group">
          <label for="MaxSpeed">Max Speed</label>
          <input type="text"
                 class="form-control form-control-md"
                 name="MaxSpeed"
                 formControlName="MaxSpeed"
                 id="MaxSpeed"
                 placeholder="Max Speed..."
                 required>
        </div>

        <div class="col-md-3 form-group">
          <label for="FrontBrake">Front Brake</label>
          <input type="text"
                 class="form-control form-control-md"
                 name="FrontBrake"
                 formControlName="FrontBrake"
                 id="FrontBrake"
                 placeholder="Front Brake..."
                 required>
        </div>

        <div class="col-md-3 form-group">
          <label for="RearBrake">Rear Brake</label>
          <input type="text"
                 class="form-control form-control-md"
                 name="RearBrake"
                 formControlName="RearBrake"
                 id="RearBrake"
                 placeholder="Rear Brake..."
                 required>
        </div>

        <div class="col-md-3 form-group">
          <label for="GearType">Gear Type</label>
          <input type="text"
                 class="form-control form-control-md"
                 name="GearType"
                 formControlName="GearType"
                 id="GearType"
                 placeholder="Gear Type..."
                 required>
        </div>

        <div class="col-md-3 form-group">
          <label for="Price">Vihecle Price</label>
          <input type="number"
                 class="form-control form-control-md"
                 name="Price"
                 formControlName="Price"
                 id="Price"
                 placeholder="Price..."
                 required>
        </div>

        <div class="col-md-6 form-group">
          <label for="OtherFeature">Other Feature</label>
          <textarea class="form-control form-control-md"
                    name="OtherFeature"
                    formControlName="OtherFeature"
                    id="OtherFeature"
                    placeholder="Other Feature..."
                    required>
          </textarea>
        </div>

        <div class="col-md-6 form-group">
          <label for="RequiredDoc">Required Document</label>
          <textarea class="form-control form-control-md"
                    name="RequiredDoc"
                    formControlName="RequiredDoc"
                    id="RequiredDoc"
                    placeholder="Required Document..."
                    required>
          </textarea>
        </div>

        <div class="col-md-12">
          <h4 class="mt-4">Accessories : </h4>
          <hr>
        </div>
        <div class="col-lg-12">
          <div class="row">
            <label *ngFor="let accessory of accessories"
                   class="checkbox-inline col-3"
                   (change)="addAccessory($event, accessory)">
              <input type="checkbox"
                     [value]="accessory.AccessoryId">
              {{accessory.Name}} ({{accessory.Price}} Tk)
            </label>
          </div>
        </div>

        <div class="col-md-3 mt-3 form-group">
          <label for="AccessoryPrice">Accessories Price</label>
          <input type="number"
                 class="form-control form-control-md"
                 name="AccessoryPrice"
                 formControlName="AccessoryPrice"
                 id="AccessoryPrice"
                 placeholder="Accessory Price..."
                 required>
        </div>

        <div class="col-md-12 form-group">
          <div class="float-right">
            <input class="btn btn-sm btn-md btn-info mr-1" type="submit" name="submit" value="Save Quotation"/>
            <input class="btn btn-sm btn-md btn-danger" type="submit" name="name" value="Cancel"
                   routerLink="/quotation/quotation-list"/>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>
