<div class="wrapper wrapper-content animated fadeInRight" id="printDisable">
  <div class="row">
    <div class="col-md-12">
      <h3>Quotation List <a class="float-right btn btn-info btn-sm" routerLink="/quotation/add-quotation">+ New
        Quotation</a></h3>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <table class="table table-bordered bg-white">
        <thead>
        <tr>
          <th>Sl No.</th>
          <th>Date</th>
          <th>Customer Name</th>
          <th>Vehicle Name</th>
          <th>Model Name</th>
          <th>Engine No</th>
          <th>Chassis No</th>
          <th>Man. Of Year</th>
          <th>Color</th>
          <th>Brand</th>
          <th>Seat</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of quotations, let i=index">
          <td>{{i+1}}</td>
          <td>{{item.QuotationDate | date}}</td>
          <td>{{item.CustomerName}}</td>
          <td>{{item.VehicleName}}</td>
          <td>{{item.ModelName}}</td>
          <td>{{item.EngineNo}}</td>
          <td>{{item.ChassisNo}}</td>
          <td>{{item.ManOfYear}}</td>
          <td>{{item.ColorName}}</td>
          <td>{{item.BrandName}}</td>
          <td>{{item.SeatingCapacity}}</td>
          <td class="text-right">
            <div class="dropdown show">
              <a class="btn btn-primary dropdown-toggle btn-xs" href="#" role="button" id="action"
                 data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Action
              </a>
              <div class="dropdown-menu" aria-labelledby="action">
                <a  routerLink="/quotation/add-quotation/{{item.QuotationId}}" class="dropdown-item"><i class="fa fa-pencil"></i> Edit</a>
                <div class="dropdown-divider"></div>
                <a routerLink="/payment/add-payment/{{item.QuotationId}}" class="dropdown-item" href="#"><i class="fa fa-bandcamp"></i> Sold</a>
                <div class="dropdown-divider"></div>
                <a routerLink="/quotation/quotation-details/{{item.QuotationId}}" class="dropdown-item">
                  <i class="fa fa-bandcamp"></i>
                  Details
                </a>
                
              </div>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
