<app-quotation-print [quotationId]="quotationId"></app-quotation-print>

<div class="wrapper wrapper-content animated fadeInRight" id="printDisable">
  <div class="row">
    <div class="col-md-12">
      <h3>Quotation Dtails<a class="float-right btn btn-info btn-sm" routerLink="/quotation/quotation-list">+ Back to
        List</a>
      </h3>
      <hr>
    </div>

    <div class="col-md-12">

      <table class="table table-sm table-bordered">

        <tr>
          <td>Quotation Date </td>
          <td>{{quotation.QuotationDate | date}}</td>
        </tr>

        <tr>
          <td>Customer </td>
          <td>{{quotation.CustomerName}}</td>
        </tr>

        <tr>
          <td>Vehicle Name </td>
          <td>{{quotation.VehicleName}}</td>
        </tr>

        <tr>
          <td>Model Name </td>
          <td>{{quotation.ModelName}}</td>
        </tr>

        <tr>
          <td>Chassis No </td>
          <td>{{quotation.ChassisNo}}</td>
        </tr>

        <tr>
          <td>Engine No </td>
          <td>{{quotation.EngineNo}}</td>
        </tr>

        <tr>
          <td>Man of Year</td>
          <td>{{quotation.ManOfYear | date}}</td>
        </tr>

        <tr>
          <td>Engine Size</td>
          <td>{{quotation.EngineSize}}</td>
        </tr>

        <tr>
          <td>Brand</td>
          <td>{{quotation.BrandName}}</td>
        </tr>

        <tr>
          <td>Color</td>
          <td>{{quotation.ColorName}}</td>
        </tr>

        <tr>
          <td>Seating Capacity</td>
          <td>{{quotation.SeatingCapacity}}</td>
        </tr>

        <tr>
          <td>Fuel Type</td>
          <td>{{quotation.FuelType}}</td>
        </tr>

        <tr>
          <td>Fuel Capacity</td>
          <td>{{quotation.FuelCapacity}}</td>
        </tr>

       <tr>
          <td>Max Speed</td>
          <td>{{quotation.MaxSpeed}}</td>
      </tr>

        <tr>
          <td>Front Brake</td>
          <td>{{quotation.FrontBrake}}</td>
        </tr>

        <tr>
          <td>Rear Brake</td>
          <td>{{quotation.RearBrake}}</td>
        </tr>

        <tr>
          <td>Gear Type</td>
          <td>{{quotation.GearType}}</td>
        </tr>

        <tr>
          <td>Other Feature</td>
          <td>{{quotation.OtherFeature}}</td>
        </tr>

        <tr>
          <td>Required Document</td>
          <td>{{quotation.RequiredDoc}}</td>
        </tr>

        <tr>
          <td>Created Date</td>
          <td>{{quotation.CreatedDtTm | date}}</td>
        </tr>

        <tr>
          <td>Updated Date</td>
          <td>{{quotation.UpdatedDtTm | date}}</td>
        </tr>

      </table>
      <hr>
      <h4 class="mb-2">Acessories Items</h4>
      <div class="col-lg-12">
        <div class="row">
          <label *ngFor="let accessory of quotation.Items"
                 class="checkbox-inline col-3">
            # {{accessory.Name}}({{accessory.Price}})
          </label>
        </div>
      </div>

      <button class="btn btn-sm btn-info float-right mb-2"
      (click)="printQuotation()">
      <i class="fa fa-print fa-md" aria-hidden="true"></i>
      Print
      </button>

    </div>
  </div>
</div>
