<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-md-12">
      <h3>Accessory List <a class="float-right btn btn-info btn-sm" routerLink="/accessory/add-accessory">+ New
        Accessory</a></h3>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <table class="table table-bordered bg-white">
        <thead>
        <tr>
          <th>Sl No.</th>
          <th>Accessory Name</th>
          <th>Accessory Price</th>
          <th>Is Active</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of accessories, let i=index">
          <td>{{i+1}}</td>
          <td>{{item.Name}}</td>
          <td>{{item.Price}}</td>
          <td>{{item.IsActive == true ? 'Active' : 'Inactive'}}</td>
          <td class="text-right">
            <div class="btn-group">
              <button routerLink="/accessory/add-accessory/{{item.AccessoryId}}" class="btn-primary btn btn-xs"><i
                class="fa fa-pencil"></i> Edit
              </button>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
