<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-md-12">
      <h3>New Accessory<a class="float-right btn btn-info btn-sm" routerLink="/accessory/accessory-list">+ Back to
        List</a></h3>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

      <form [formGroup]="accessoryForm" autocomplete="off" (ngSubmit)="saveAccessory()" class="row from_font">

        <div class="col-md-4 form-group">
          <label for="Name">Name</label>
          <input type="text"
                 class="form-control form-control-md"
                 name="Name"
                 formControlName="Name"
                 id="Name"
                 placeholder="Name..."
                 required>
        </div>

        <div class="col-md-4 form-group">
          <label for="Price">Price</label>
          <input type="number"
                 class="form-control form-control-md"
                 name="Price"
                 formControlName="Price"
                 id="Price"
                 placeholder="Price..."
                 required>
        </div>

        <div class="col-md-4 form-group">
          <label for="IsActive">IsActive</label>
          <select name="IsActive"
                  id="IsActive"
                  class="form-control form-control-md"
                  formControlName="IsActive"
                  required>
            <option [ngValue]="true">IsActive</option>
            <option [ngValue]="false">InActive</option>
          </select>
        </div>

        <div class="col-md-12 form-group">
          <div class="float-right">
            <input class="btn btn-sm btn-md btn-info mr-1" type="submit" name="submit" value="Save Accessory"/>
            <input class="btn btn-sm btn-md btn-danger" type="submit" name="name" value="Cancel"
                   routerLink="/accessory/accessory-list"/>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>
